/* Ensure modal has a high z-index */
.modal-dialog {
    z-index: 1050;
}

/* Fix modal dimensions */
.modal-content {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

/* General input and dropdown styles */
input, select, .DateInput_input, .Select-control, .Select-menu, .Select-option {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* Hover effect for dropdown options */
.Select-option:hover {
    background-color: #e6e6fa !important; /* Light lavender color */
    color: #000000 !important; /* Black text color */
}

/* Ensure the dropdown control has the correct color */
.Select--single > .Select-control .Select-value {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* Ensure the dropdown control border color */
.Select.is-focused .Select-control {
    border-color: #e6e6fa !important;
}

/* Additional styles to ensure the modal does not affect page layout */
.modal-backdrop {
    position: absolute !important;
}

/* Fix layout shifting in Chrome and Brave */
html, body {
    overflow-x: hidden;
}

#data-entry-modal {
    position: fixed !important;
}
